.menu-items{
    text-align: left;
    padding: 2px;
    margin-right: 1px;
    letter-spacing: 2px;
    
}
.menu-items>a{
    margin-right: 30px;
    color: black;
    text-decoration: none !important;
    
}
